<div class="footer">
  <p>{{app.name}}&copy; ({{app.year}})</p>
  <p>+504 {{app.phone}}</p>
  <p>{{app.address}}</p>
  Síguenos en
  <br /><br />
  <div class="row">
    <div class="col-xs-6" style="text-align: right; padding-right:2%;">
      <a href="{{app.instagram}}">
        <img
          src="/instagram.png"
          alt=""
          width="25px"
          style="margin-right: 20px;"
        />
        <br />
        Instagram
      </a>
    </div>
    <div class="col-xs-6" style="text-align: left; padding-left:2%;">
      <a href="{{app.facebook}}">
        <img src="/fb.png" alt="" width="25px" style="margin-left: 20px;" />
        <br />
        Facebook
      </a>
    </div>
  </div>
  <br />
  <a href="/contact">Acerca de Nosotros</a>
</div>