<div class="container">
    <div class="col-xs-2">
        <div class="pull-left">
            <a href="/">
                <i class="fa fa-home" aria-hidden="true"></i> 
                Productos
            </a>
        </div>
    </div>
    <div class="col-xs-1">
        <div class="pull-left">
            <a href="/catalog">
                Catalogo
            </a>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="pull-left">
            <a href="/contact">
                Contacto
            </a>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="pull-middle">
            <img src="tiendario.png" onerror="hasError()" id="logo">
        </div>
    </div>
    <div class="col-xs-2">
        <div class="dropdown pull-left">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Carrito
                {{# if session.cart.totalItems }}
                <span>({{session.cart.totalItems}})</span>
                {{/if}}
            </a>
            {{# if session.cart.totalItems }}
            <div class="dropdown-menu">
                <div class="cart">
                    {{# each session.cart.items }}
                    <div class="row">
                        <div class="col-xs-4">
                            {{ this.item.name }}
                        </div>
                        <div class="col-xs-4 text-right">
                            <span class="badge">{{ this.quantity }}</span>
                        </div>
                        <div class="col-xs-4 text-right">
                            {{ this.price }} Lps
                        </div>
                    </div>
                    {{/each}}
                    <div class="row">
                        <div class="text-right">
                            <div class="totalPrice">Total: {{ session.cart.totalPrice }} Lps</div>
                            <a href="/cart/" class="btn btn-success">Continuar</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
    <div class="col-xs-1">
        <div class="pull-left">
            {{#if user}}
                <a href="/view-account">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    {{user.name}}
                </a>
            {{else}}
                <a href="/login">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Cuenta
                </a>
            {{/if}}
        </div>
    </div>
</div>

<script>
    function hasError() {
        document.getElementById(`logo`).src = "../tiendario.png";
    }
</script>