<br><br>
<div class="container">
    {{#if categories}}
        <div class="grid">
            {{#each categories}}
                <div class="item">
                    <br>
                    <a href="/products-category/{{this.id}}">
                        <img id="image{{this.id}}" src="{{this.image}}" 
                            onerror="imageHasError({{this.id}}, '{{this.alt}}');" 
                            height="200px" width="200px" style="background-size:cover;">
                        <h3>{{this.name}}</h3>
                    </a>
                </div>
            {{/each}}
        </div>
    {{else}}
    <i>No se puede ver el catalogo en este momento.</i>
    {{/if}}
</div>

<div class="footer" style="padding:25px">
    <p>La Tiendita del Rio &copy; (2020)</p>
    <p>+504 9947-5935</p>
    <p>Barrio Rio Piedras 7 calle 20 avenida</p>
    <a href="https://www.instagram.com/riopiedras.store/">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/1024px-Instagram_icon.png" 
            alt=""
            width="25px">
            <br>
        Siguenos en Instagram
    </a>
    <br>
    <br>
    <a href="/contact">Acerca de Nosotros</a>
</div>