<div id="container" style="max-width: 1500px;">
    {{#if categories}}
        <div class="buttons">
            <ul class="grid">
                {{#each categories }}
                    <li class="grid-group-item d-flex bd-highlight" style="background-color: white; margin:3px;">
                        <a href="/products-category/{{this.id}}" >
                            <img id="image{{this.id}}" src="{{this.image}}" 
                                onerror="imageHasError({{this.id}}, '{{this.alt}}');" 
                                style="background-size:cover;">
                            <h5 style="color:#00b7ff; ">{{this.name}}</h5>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    {{else}}
        <i>No se puede ver el catálogo en este momento.</i>
    {{/if}}
</div>