<div class="container">
    <h1>{{title}}</h1>
    {{#if user}}
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Bienvenid@ {{user.name}}</h4>
        </div>
    {{/if}}
    <p>Puede recoger sus pedidos en 7 calle 20 ave Bo Río Piedras</p>
    <p>Consulta el catálogo aqui <a href="/catalog">Catálogo</a> o busca el producto.</p>
</div>

<div class="overlay" onclick="off()" id="overlay">
	Producto Agregado
</div>

{{#if success}}
<div class="container">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Orden creada!</h4>
        <p>Nos pondremos en contanto contigo dentro de pronto.</p>
        <hr>
        <p class="mb-0">En caso de tener consultas puede llamar al +504 9947-5935</p>
    </div>
</div>
{{/if}}

<div class="container">
    <form class="form-inline d-flex justify-content-center md-form form-sm active-cyan-2" action="/search"
        name="searchProduct" method="GET" id="searchForm">
        <input class="form-control" type="text" placeholder="Buscar" aria-label="Buscar" name="keyword"
            value="{{keyword}}" style="width: 40%;">
        <a href="javascript:{}" onclick="document.getElementById('searchForm').submit();">
            <i class="fa fa-search" aria-hidden="true"></i>
        </a>
    </form>
</div>

{{#if products}}
<div id="container">
    <div class="buttons">
        <ul class="grid">
            {{#each products }}
            <li class="grid-group-item d-flex bd-highlight">
                {{#if this.available}}
                <div>
                    <img id="image{{id}}" src="{{ this.image }}" onerror="hasError({{this.id}}, '{{this.alt}}');"
                        height="200px" width="200px" 
                        style="background-size:cover;">
                </div>
                {{else}}
                <div class="unavailableWrapper">
                    <img class="unavailableImage" id="image{{id}}" src="{{ this.image }}"
                        onerror="hasError({{this.id}}, '{{this.alt}}');" 
                        height="200px" width="200px"
                        style="background-size:cover;">
                </div>
                {{/if}}
                <h3>{{ this.name }}</h3>
                <i>{{this.description}}</i>
                <p>{{ this.price }} Lps </p>
                {{#if this.available}}
                
                <form class="form-inline" name="form_{{this.id}}" action="/add/{{this.id}}/0" method="POST">
                    {{!-- Amount of products --}}
                    <a onclick="subs({{ this.id }})" class="btn btn-default" 
                        role="button" style="margin-bottom: 0;">-</a>
                    <input type="numeric" class="form-control" value="1" style="max-width: 30%;" name="count"
                        id="count_{{this.id}}" max="10" onchange="checkValue()">
                    <a onclick="sum({{ this.id }})" class="btn btn-info" 
                        role="button" style="margin-bottom: 0;">+</a>
                    
                    <input type="hidden" id="name_{{this.id}}" value="{{this.name}}">
                    <input type="hidden" id="description_{{this.id}}" value="{{this.description}}">
                    <input type="hidden" id="price_{{this.id}}" value="{{this.price}}">
                    <input type="hidden" id="image_{{this.id}}" value="{{this.image}}">
                    
                    {{!-- Add products --}}
                    <a class="btn btn-default" role="button" onclick="add({{this.id}});"><i class="fa fa-shopping-cart"
                        aria-hidden="true"></i> Agregar</a>
                </form>

                {{else}}
                <span class="badge badge-danger">Agotado</span>
                {{/if}}
            </li>
            {{/each}}
        </ul>
    </div>
</div>

{{else}}
<div class="container">
    {{#if keyword}}
    <i>No hay productos en este momento para la busqueda: "{{keyword}}"</i>
    {{else}}
    <i>No hay productos en este momento.</i>
    {{/if}}
</div>
{{/if}}

<div class="container">
    <p>Consulta el catálogo aqui <a href="/catalog">Catálogo</a></p>
    <p>¿No encuentras lo que buscabas?
        <a href="https://wa.me/50499475935?text=Buenas,%20tiene%20este%20producto?%20">
            <img src="https://logodownload.org/wp-content/uploads/2015/04/whatsapp-logo-1.png" alt="" height="50">
            Escríbenos a WhatsApp
        </a>
    </p>
</div>

<div class="footer" style="padding:25px">
    <p>La Tiendita del Río &copy; (2020)</p>
    <p>+504 9947-5935</p>
    <p>Barrio Río Piedras 7 calle 20 avenida</p>
    <a href="https://www.instagram.com/riopiedras.store/">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/1024px-Instagram_icon.png" 
            alt=""
            width="25px">
            <br>
        Síguenos en Instagram
    </a>
    <br>
    <br>
    <a href="/contact">Acerca de Nosotros</a>
</div>

<script src="/scripts/cart.js"></script>
<script>

    function off(){
        $('#overlay').fadeOut();
    }

    function hasError(id, source) {
        document.getElementById(`image${id}`).src = source;
    }

    function sum(id) {
        let maxItems = 5;
        let currentVal = parseInt($(`#count_${id}`).val());
        if (currentVal >= maxItems) {
            $(`#count_${id}`).val(currentVal);
        }
        else {
            $(`#count_${id}`).val(currentVal + 1);
        }
    }

    function subs(id) {
        let currentVal = parseInt($(`#count_${id}`).val());
        if (currentVal == 1) {
            $(`#count_${id}`).val(currentVal);
        }
        else {
            $(`#count_${id}`).val(currentVal - 1);
        }
    }

    function checkValue(selfi) {
        if (selfi.value > maxItems) {
            selfi.value = maxItems;
        }
        else if (selfi.value < 1) {
            selfi.value = 1;
        }
    }
</script>