<div class="container">
  <h1>{{title}}</h1>
  <p>Puede recoger sus pedidos en 7 calle 20 ave Bo Rio Piedras</p>
</div>

{{#if success}}
  <div class="container">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Orden creada!</h4>
      <p>Nos pondremos en contanto contigo dentro de pronto.</p>
      <hr>
      <p class="mb-0">En caso de tener consultas puede llamar al +(504) 9930-60999.</p>
    </div>
  </div>
{{/if}}

<div class="container grid">
  {{#if products}}
  {{#each products }}
  <div class="item">
    <br>
    {{#if this.available}}
      <div>
        <img id="image{{id}}" src="{{ this.image }}" onerror="hasError({{this.id}}, '{{this.alt}}');" height="200px" width="200px" style="background-size:cover;">
      </div>
    {{else}}
      <div class="unavailableWrapper">
        <img class="unavailableImage" id="image{{id}}" src="{{ this.image }}" onerror="hasError({{this.id}}, '{{this.alt}}');" height="200px" width="200px" style="background-size:cover;">
      </div>
    {{/if}}
    <div class="details">
      <h3>{{ this.name }}</h3>
      {{#if this.description}}
      <p class="description">{{{this.description}}}</p>
      {{else}}
      <br>
      {{/if}}

      <div class="clearfix">
        <div class="price pull-left"><i class="fa fa-tag" aria-hidden="true"></i> {{ this.price }} Lps</div>
        <div class="price pull-right">
          {{#if this.available}}
            <a href="/add/{{ this.id }}" class="btn btn-default pull-right" role="button"><i class="fa fa-shopping-cart"
              aria-hidden="true"></i> Agregar</a>
          {{else}}
            <span class="badge badge-danger">Agotado</span>
          {{/if}}
        </div>
      </div>
    </div>
    <br>
  </div>
  {{/each}}
  {{else}}
  <i>No hay productos en este momento</i>
  {{/if}}
</div>

<script>
  function hasError(id, source) {
    document.getElementById(`image${id}`).src = source;
  }
</script>