<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
	</ol>
	<div class="carousel-inner">
        <div class="carousel-item active" style="text-align:center; background-color:#008080a7; padding-bottom:100px; padding-top:15px;">
            <img src="location.png" style="min-width: 350px; width:80%; max-width:1000px  ">
            <div class="carousel-caption d-none d-md-block" style="bottom: 1%;">
                <h4>Nuestro Local</h4>
                <p>Estamos ubicados en 7 calle 20 avenida Barrio Río de Piedras</p>
            </div>
        </div>
        <div class="carousel-item" style="text-align:center; background-color:#008080a7; padding-bottom:100px; padding-top:15px;">
            <img src="panfleto.png" style="min-width: 350px; width:80%; max-width:1000px  ">
            <div class="carousel-caption d-none d-md-block" style="bottom: 1%;">
                <h4>Tiendita del Río</h4>
                <p>De todo en Abarrotería, Lácteos, Carnes, Snacks, Limpieza, Cuidado Personal, etc...</p>
            </div>
        </div>
        <div class="carousel-item" style="text-align:center; background-color:#008080a7; padding-bottom:100px; padding-top:15px;">
            <img src="cafe.png" style="min-width: 350px; width:80%; max-width:1000px  ">
            <div class="carousel-caption d-none d-md-block" style="bottom: 1%;">
                <h4>Don Telmo y el sabor auténtico de café</h4>
                <p>Encuentralos en su presentación tradicional o premium.</p>
            </div>
        </div>
        <div class="carousel-item" style="text-align:center; background-color:#008080a7; padding-bottom:100px; padding-top:15px;">
            <img src="pagoTransferencia2.png" style="min-width: 350px; width:80%; max-width:1000px  ">
            <div class="carousel-caption d-none d-md-block" style="bottom: 1%;">
                <h4>Pasos para recibir tus pedidos</h4>
                <p>Ordena en linea, Recibe tu pedido a domicilio, Paga por transferencia o en efectivo</p>
            </div>
        </div>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
	<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	<span class="carousel-control-next-icon" aria-hidden="true"></span>
	<span class="sr-only">Next</span>
	</a>
</div>

<br><br><br><br>

<div class="container">
    <div class="row">
        <div class="card-deck">
            <div class="card">
                <img src="porCelular.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Pedílo Por WhatsApp</h5>
                    <p class="card-text">Mandános tu lista por WhatsApp o preguntá por nuestros productos.</p>
                </div>
            </div>
            <div class="card">
                <img src="porInternet.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ordená En Línea</h5>
                    <p class="card-text">Aprovecha la oportunidad de hacer pedidos desde nuestro sitio web, funcional en ordenadores y dispositivos móviles.</p>
                </div>
            </div>
            <div class="card">
                <img src="aDomicilio.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">A Domicilio</h5>
                    <p class="card-text">No te preocupes por moverte de tu casa o trabajo. Te llevamos el producto y tenemos gente comprometida con tu seguridad.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br><br>

<div id="container" style="max-width: 1500px;">
    <h2 style="text-align: center;">Categorías Destacadas</h2>
    {{#if categories}}
        <div class="buttons">
            <ul class="grid">
                {{#each categories }}
                    <li class="grid-group-item d-flex bd-highlight" style="background-color: white; margin:3px;">
                        <a href="/products-category/{{this.id}}" >
                            <img id="image{{this.id}}" src="{{this.image}}" 
                                onerror="imageHasError({{this.id}}, '{{this.alt}}');" 
                                style="background-size:cover;">
                            <h5 style="color:#00b7ff; ">{{this.name}}</h5   >
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    {{else}}
        <i>No se puede ver el catálogo en este momento.</i>
    {{/if}}
</div>

<br><br><br><br>

<div class="footer" style="padding:25px">
    <p>La Tiendita del Río &copy; (2020)</p>
    <p>+504 9947-5935</p>
    <p>Barrio Río Piedras 7 calle 20 avenida</p>
    Síguenos en <br><br>
    <div class="row">
        <div class="col-xs-6" style="text-align: right; padding-right:2%;">
            <a href="https://www.instagram.com/riopiedras.store/">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/1024px-Instagram_icon.png" 
                    alt=""
                    width="25px"
                    style="margin-right: 20px;">
                    <br>
                Instagram
            </a>
        </div>
        <div class="col-xs-6" style="text-align: left; padding-left:2%;">
            <a href="https://www.facebook.com/Tiendita-del-Rio-105004831340279/">
                <img src="https://cdn.icon-icons.com/icons2/1826/PNG/512/4202110facebooklogosocialsocialmedia-115707_115594.png" 
                    alt=""
                    width="25px"
                    style="margin-left: 20px;">
                    <br>
                Facebook
            </a>
        </div>
    </div>
    <br>
    <a href="/contact">Acerca de Nosotros</a>
</div>

<script>
    $( document ).ready(function() {
        $('.toast').toast('show');
    });
    $('.carousel').carousel({
        /* interval: 4500 */
    })
</script>