<div class="overlay" onclick="off()" id="overlay">
	Producto Agregado
</div>

{{#if products}}
    <div class="container" >
        <p>Ir al <a href="/catalog">Catálogo</a></p>
        <h1 style="text-align: center;">{{name}}</h1>
    </div>
    <div id="container" style="max-width: 1500px;">
        <div class="buttons">
            <ul class="grid">
                {{#each products }}
                <li class="grid-group-item bd-highlight">
                    {{#if this.available}}
                    <div>
                        <img id="image{{id}}" src="{{ this.image }}" onerror="imageHasError({{this.id}}, '{{this.alt}}');"
                            style="background-size:cover;">
                    </div>
                    {{else}}
                    <div class="unavailableWrapper">
                        <img class="unavailableImage" id="image{{id}}" src="{{ this.image }}"
                            onerror="imageHasError({{this.id}}, '{{this.alt}}');" 
                            style="background-size:cover;">
                    </div>
                    {{/if}}
                    <h6>{{ this.name }}</h6>
                    <i>{{this.description}}</i>
                    <strong>Lps. {{ this.price }}</strong>
                    {{#if this.available}}
                        <form class="form-inline" name="form_{{this.id}}" action="/add/{{this.id}}/{{this.categoryId}}" method="POST" style="display: block;">
                            {{!-- Amount of products --}}
                            <a onclick="subs({{ this.id }})" class="btn btn-default" 
                                role="button" style="margin-bottom: 0;">-</a>
                            <input type="numeric" class="form-control amount-input" value="1" name="count"
                                id="count_{{this.id}}" max="10" onchange="checkValue(this)">
                            <a onclick="sum({{ this.id }})" class="btn btn-info" 
                                role="button" style="margin-bottom: 0;">+</a>
                        </form>
                        <input type="hidden" id="name_{{this.id}}" value="{{this.name}}">
                        <input type="hidden" id="description_{{this.id}}" value="{{this.description}}">
                        <input type="hidden" id="price_{{this.id}}" value="{{this.price}}">
                        <input type="hidden" id="image_{{this.id}}" value="{{this.image}}">
                        
                        {{!-- Add products --}}
                        <a class="btn btn-success" role="button" onclick="add({{this.id}});" style="width: 100%;">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i> 
                            Agregar
                        </a>
                    {{else}}
                    <br>
                    <span class="badge badge-danger" style="margin-top: 1px;">Agotado</span>
                    {{/if}}
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
{{else}}
<div class="container">
    {{#if keyword}}
    <i>No hay productos en este momento para la busqueda: "{{keyword}}"</i>
    {{else}}
    <i>No hay productos en este momento.</i>
    {{/if}}
</div>
{{/if}}

<script src="/scripts/cart.js"></script>
<script>
    const maxItems = 10;
    function imageHasError(imageId, source) {
        // document.getElementById(`image${imageId}`).src = 'https://riopiedras.store/imagen no disponible.png';
    }

    function sum(id) {
        let currentVal = parseInt($(`#count_${id}`).val());
        if (currentVal >= 5) {
            $(`#count_${id}`).val(currentVal);
        }
        else {
            $(`#count_${id}`).val(currentVal + 1);
        }
    }

    function subs(id) {
        let currentVal = parseInt($(`#count_${id}`).val());
        if (currentVal == 1) {
            $(`#count_${id}`).val(currentVal);
        }
        else {
            $(`#count_${id}`).val(currentVal - 1);
        }
    }

    function checkValue(selfi) {
        if (selfi.value > maxItems) {
            selfi.value = maxItems;
        }
        else if (selfi.value < 1) {
            selfi.value = 1;
        }
    }
</script>