{{#if message}}
    <div class="container">
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
    </div>
{{/if}}

<div class="container" style="margin-bottom: 10%;">
    <br>
    <h1>Datos de Contacto</h1>
    <form action="/placeorder/" name="placeorder" method="POST">
        <input type="hidden" id="cart2" name="cart2">

        <h4>Nombre</h4>
        <input type="text" class="form-control" name="name" id="name" disabled="true" value="{{user.name}}"><br>

        <div class="alert alert-danger" role="alert" style="display: none;" id="enterPhone">
            Ingrese el número de teléfono.
        </div>
        <h4>Número de Teléfono</h4>
        <input type="text" class="responsiveInput" name="phone" id="phone" value="{{user.phone}}" disabled="true" ><br>

        <div class="radioButtons">
            <div class="custom-control custom-radio">
                <input type="radio" id="delivery" name="deliveryRadio" class="custom-control-input" checked="true">
                <label class="custom-control-label" for="delivery">A domicilio</label>
            </div>

            <div class="custom-control custom-radio">
                <input type="radio" id="pickup" name="deliveryRadio" class="custom-control-input">
                <label class="custom-control-label" for="pickup">Recoger en
                    establecimiento</label>
            </div>
        </div>

        <div id="addressBox">
            <h4>Dirección</h4>

            <select class="form-control" name="addresses" id="addresses">
                {{#each addresses}}
                    <option value="{{this.id}}">{{this.typeName}} - {{this.description}}</option>
                {{/each}}
            </select>
            <br>
            <input class="form-control" name="address" id="address" type="hidden"><br>
            <br>

            <div class="alert alert-danger" role="alert" style="display: none;" id="enterAddress">
                Ingrese la dirección.
            </div>
            <div class="alert alert-danger" role="alert" style="display: none;" id="addressValid">
                La dirección debe tener almenos 10 caracteres.
            </div>
        </div>

        <div class="text-right">
            <a onclick="validate();" type="button" class="btn btn-success">Realizar Pedido</a>
        </div>
    </form>
</div>

<script>
    $('input[name="deliveryRadio"]').change(function () {
        var radioValue = $("input[name='deliveryRadio']:checked").attr('id');
        if (radioValue === "delivery") {
            $('#addressBox').fadeIn();
        }
        else {
            $('#addressBox').fadeOut();
        }
    });

    $('select[name="addresses"]').change(function () {
        var address = $(this).children("option:selected").text();
        $('#address').val(address);
    });

    $( document ).ready(function() {
        var address = $('select[name="addresses"]').children("option:selected").text();
        $('#address').val(address);
    });
    

    function validate() {
        const delay = 5000;//3seconds
        const addressLength = 10;

        let params = {};
        params.name = $('#name').val();
        params.phone = $('#phone').val();
        params.deliveryType = $("input[name='deliveryRadio']:checked").attr('id');
        if (params.deliveryType === "delivery") {
            params.address = $('#address').val();
        }
        $("input[name='deliveryRadio']").val(params.deliveryType);

        let hasError = false;
        if (!params.name) {
            hasError = true;
            $('#enterName').fadeIn().delay(delay).fadeOut();
        }
        if (!params.phone) {
            hasError = true;
            $('#enterPhone').fadeIn().delay(delay).fadeOut();
        }

        if (params.deliveryType === "delivery") {
            if (!params.address) {
                hasError = true;
                $('#enterAddress').fadeIn().delay(delay).fadeOut();
            }
            else if (params.address.length < addressLength) {
                hasError = true;
                $('#addressValid').fadeIn().delay(delay).fadeOut();
            }

        }

        if (!hasError) {
            let cart2 = JSON.stringify(JSON.parse(localStorage.getItem('cart')));
            $('#cart2').val(cart2);
            resetCart();
            $("form[name='placeorder']").submit();
        }
    }
</script>