<br><br>
<div class="container">
    <div class="text-left">
        <a href="/logout" class="btn btn-danger" role="button">
            Logout
        </a>
    </div>
</div>
<br>
{{#if success}}
    <div class="container">
        <div class="alert alert-success" role="alert">
            Nueva dirección agregada exitosamente.
        </div>
    </div>
{{/if}}

<div class="container">
    <h2>Información de Cuenta</h2>
    <strong>Nombre</strong>
    <p>{{user.name}}</p>

    <strong>Número de teléfono</strong>
    <p>{{user.phone}}</p>

    <strong>Correo Electrónico</strong>
    <p>{{user.email}}</p>

    {{#if addresses}}
        <h2>Direcciones</h2>
        {{#each addresses }}
            <strong>{{this.typeName}}</strong>
            <p>{{this.description}}</p>
            {{#if this.reference}}
                <p>{{this.reference}}</p>
            {{/if}}
        {{/each}}
    {{else}}
    <i>No tienes direcciones agregadas en el momento.</i>
    {{/if}}

    <a onclick="showAddAddress();" type="button" class="btn btn-success">
        Agregar Dirección
    </a>

    <div id="addAddress" style="display: none;">
        <hr>
        <form action="/add-address" method="POST" name="addAddress" style="margin-bottom: 10%;">
            <h2>Nueva Dirección</h2>
            <div class="form-group">
                <label for="type"><strong>* Tipo</strong></label>
                <select class="form-control" id="type" name="typeId">
                    <option value="1" selected>Casa</option>
                    <option value="2">Trabajo</option>
                    <option value="3">Otro</option>
                </select>
            </div>

            <div class="form-group">
                <label for="description"><strong>* Descripción</strong></label>
                <input type="text" class="form-control" id="description" name="description"
                    placeholder="7 calle 20 ave Barrio Río de Piedras Sector S.O." maxlength="500">

                <div class="alert alert-danger" role="alert" style="display: none;" id="enterDescription">
                    Ingrese la dirección.
                </div>
            </div>

            <div class="form-group">
                <label for="reference">Referencia</label>
                <input type="text" class="form-control" id="reference" name="reference"
                    placeholder="3 cuadras arriba de Popeyes Circunvalacion" maxlength="200">
            </div>

            <div class="text-left">
                <button class="g-recaptcha btn btn-success" 
                    data-sitekey="{{siteKey}}" 
                    data-callback='onSubmit' 
                    data-action='submit'>Agregar</button>
            </div>
        </form>
    </div>
</div>

<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
    function onSubmit(token) {
        validate();
    }

    $('input[name="deliveryRadio"]').change(function () {
        var radioValue = $("input[name='deliveryRadio']:checked").attr('id');
        if (radioValue === "delivery") {
            $('#addressBox').fadeIn();
        }
        else {
            $('#addressBox').fadeOut();
        }
    });
    function showAddAddress() {
        $('#addAddress').fadeToggle();
    }

    $('input').keypress(function(e){
        if(e.keyCode == 13){
            validate();
            return false;
        }
    });

    function validate() {
        const delay = 3000;//3seconds
        const addressLength = 10;

        let params = {};
        params.description = $('#description').val().trim();
        params.reference = $('#reference').val().trim();
        params.adressTypeId = $("input[name='typeId']:checked").val();

        let hasError = false;
        if (!params.description) {
            hasError = true;
            $('#enterDescription').fadeIn().delay(delay).fadeOut();
        }

        if (!hasError) {
            $('#description').val(params.description);
            $('#reference').val(params.reference);

            $("form[name='addAddress']").submit();
        }
    }
</script>