<div class="container">
    <h2>Informacion de Cuenta</h2>
    <i class="fa fa-user fa-6" aria-hidden="true"></i>
    <h3>Nombre</h3>
    <p>{{user.name}}</p>

    <h3>Numero de telefono</h3>
    <p>{{user.phone}}</p>

    <h3>Correo Electronico</h3>
    <p>{{user.email}}</p>

    {{#if addresses}}
        <h2>Direcciones</h2>
        {{#each addresses }}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                    Default radio
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                    Second default radio
                </label>
            </div>
            <h3>{{this.type}}</h3>
            <p>{{this.description}}</p>
            {{#if this.reference}}
                <p>{{this.reference}}</p>
            {{/if}}
        {{/each}}
    {{else}}
    <i>No tienes direcciones agregadas en el momento.</i>
    {{/if}}

    <a onclick="showAddAddress();" type="button" class="btn btn-success">
        Agregar Direccion
    </a>

    <div id="addAddress" style="display: none;">
        <form action="/add-address" method="POST" name="addAddress">
            <h3>Nueva Direccion</h3>
            <div class="form-group">
                <label for="type"><strong>* Tipo</strong></label>
                <select class="form-control" id="type" name="typeId">
                    <option value="1" selected>Casa</option>
                    <option value="2">Trabajo</option>
                    <option value="3">Otro</option>
                </select>
            </div>

            <div class="form-group">
                <label for="description"><strong>* Descripcion</strong></label>
                <input type="text" class="form-control" id="description" name="description"
                    placeholder="7 calle 20 ave Barrio Rio de Piedras Sector S.O.">

                <div class="alert alert-danger" role="alert" style="display: none;" id="enterDescription">
                    Ingrese la direccion.
                </div>
            </div>

            <div class="form-group">
                <label for="reference">Referencia</label>
                <input type="text" class="form-control" id="reference" name="reference"
                    placeholder="3 cuadras arriba de Popeyes Circunvalacion">
            </div>

            <div class="text-left">
                <a onclick="validate();" type="button" class="btn btn-success">Agregar</a>
            </div>
        </form>
    </div>
</div>

<script>
    $('input[name="deliveryRadio"]').change(function () {
        var radioValue = $("input[name='deliveryRadio']:checked").attr('id');
        if (radioValue === "delivery") {
            $('#addressBox').fadeIn();
        }
        else {
            $('#addressBox').fadeOut();
        }
    });
    function showAddAddress() {
        $('#addAddress').fadeIn();
    }

    function validate() {
        const delay = 3000;//3seconds
        const addressLength = 10;

        let params = {};
        params.description = $('#description').val();
        params.reference = $('#reference').val();
        params.adressTypeId = $("input[name='typeId']:checked").val();

        let hasError = false;
        if (!params.description) {
            hasError = true;
            $('#enterDescription').fadeIn().delay(delay).fadeOut();
        }

        if (!hasError) {
            $("form[name='addAddress']").submit();
        }
    }
</script>