<br>
{{#if message}}
    <div class="container">
        <div class="alert alert-danger" role="alert">
            <p>{{message}}</p>
        </div>
    </div>
{{/if}}

{{#if success}}
    <div class="container">
        <div class="alert alert-success" role="alert">
            <p>Orden aprovada</p>
        </div>
    </div>
{{/if}}

{{#if delivered}}
    <div class="container">
        <div class="alert alert-success" role="alert">
            <p>Orden entregada</p>
        </div>
    </div>
{{/if}}


<div class="container">
    <br><br>
    <a href="/orders/" class="btn btn-info" role="button">
        <i class="fa fa-home" aria-hidden="true"></i> Volver a Ordenes
    </a>
    
    <h1>Detalle de Pedido</h1>
    <br>
    <p><strong>Cliente:</strong> {{order.customer}}</p>
    <p><strong>Tipo:</strong> {{order.type}}</p>
    <p><strong>Método de Pago:</strong> {{order.paymentMethod}}</p>
    <p><strong>Fecha:</strong> {{order.createdDate}}</p>
    {{#if order.address}}
        <p><strong>Dirección:</strong> {{order.address}}</p>

        {{#if order.reference}}
            <p><strong>Referencia:</strong> {{order.reference}}</p>
        {{/if}}
    {{/if}}

    <br>
    <h3>Productos</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Sub Total</th>
            </tr>
        </thead>
        <tbody>
            {{#each order.items }}
                <tr>
                    <td>
                        <img src="{{this.image}}" height="50px">
                    </td>
                    <td>{{this.name}}</td>
                    <td>{{this.amount}}</td>
                    <td>Lps. {{this.price}}</td>
                    <td>Lps. {{this.subtotal}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <br>
    <h4>Subtotal: Lps.{{order.subtotal}}</h4>
    <h4>Envío: Lps.{{order.delivery}}</h4>
    <h3>Total: Lps.{{order.total}}</h3>

    {{#if order.approved}}
        {{#if order.delivered}}
        {{else}}
            <a href="/deliver-order/{{order.id}}" class="btn btn-success" role="button">
                <i class="fa fa-check" aria-hidden="true"></i> Entregar
            </a>
        {{/if}}
    {{/if}}
    <br><br><br>
</div>