{{#if success}}
    <div class="container">
        <div class="alert alert-success" role="alert">
            <p>Orden aprovada</p>
        </div>
    </div>
{{/if}}

<div class="container">
    <a href="/orders/" class="btn btn-info" role="button">
        <i class="fa fa-home" aria-hidden="true"></i> Volver a Ordenes
    </a>

    <h1>Verificación de Pedido</h1>
    <br>
    <p><strong>Cliente:</strong> {{order.customer}}</p>
    <p><strong>Número de teléfono:</strong> {{order.phone}}</p>
    <p><strong>Tipo:</strong> {{order.type}}</p>
    <p><strong>Método de Pago:</strong> {{order.paymentMethod}}</p>
    <p><strong>Fecha:</strong> {{order.createdDate}}</p>
    {{#if order.address}}
        <p><strong>Dirección:</strong> {{order.address}}</p>

        {{#if order.reference}}
            <p><strong>Referencia:</strong> {{order.reference}}</p>
        {{/if}}
    {{/if}}

    <br>
    <h3>Productos</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Sub Total</th>
                {{#if order.approved}}
                {{else}}
                    <th>Quitar</th>
                {{/if}}
            </tr>
        </thead>
        <tbody>
            {{#if order.approved}}
                {{#each order.items }}
                    <tr id="item_{{ this.itemId }}">
                        <td>{{this.name}} {{this.description}}</td>
                        <td>
                            {{this.amount}}
                        </td>
                        <td>Lps. <label id="price_{{this.itemId}}">{{this.price}}</label></td>
                        <td>Lps. <label id="subprice_{{this.itemId}}">{{this.subtotal}}</label></td>
                    </tr>
                {{/each}}
            {{else}}
                {{#each order.items }}
                    <tr id="item_{{ this.itemId }}">
                        <td>{{this.name}} {{this.description}}</td>
                        <td class="form-inline">
                            <a onclick="subs({{ this.itemId }})" class="btn btn-default disabled" 
                                role="button" style="margin-bottom: 0;">-</a>
                            <input type="numeric" class="form-control" value="{{this.amount}}" style="max-width: 30%;" name="count"
                                id="count_{{this.itemId}}" max="10" onchange="checkValue()" disabled>
                            <a onclick="sum({{ this.itemId }})" class="btn btn-info disabled" 
                                role="button" style="margin-bottom: 0;">+</a>
                        </td>
                        <td>Lps. <label id="price_{{this.itemId}}">{{this.price}}</label></td>
                        <td>Lps. <label id="subprice_{{this.itemId}}">{{this.subtotal}}</label></td>
                        <td>
                            <button onclick="$('#item_{{this.itemId}}').remove();" class="btn btn-default" disabled>
                                Quitar
                            </button>
                        </td>
                    </tr>
                {{/each}}
            {{/if}}
        </tbody>
    </table>
    <br>
    <h4>Subtotal: Lps.{{order.subtotal}}</h4>
    <h4>Envío: Lps.{{order.delivery}}</h4>
    <h3>Total: Lps.{{order.total}}</h3>

    {{#if order.approved}}
        <a href="/deliver-order/{{order.id}}" class="btn btn-success" role="button">
            <i class="fa fa-check" aria-hidden="true"></i> Entregar
        </a>
    {{else}}
        <a href="/approve-order/{{order.id}}" class="btn btn-info" role="button">
            <i class="fa fa-check" aria-hidden="true"></i> Aprobar
        </a>
    {{/if}}
</div>

<script>
    function sum(id) {
        let currentVal = parseInt($(`#count_${id}`).val());
        let price = $(`#price_${id}`).text();
        if (currentVal >= 5) {
            $(`#count_${id}`).val(currentVal);
        }
        else {
            currentVal += 1;
            $(`#count_${id}`).val(currentVal);
        }
        changeSubprice(id, currentVal, price);
    }

    function subs(id) {
        let currentVal = parseInt($(`#count_${id}`).val());
        let price = $(`#price_${id}`).text();
        if (currentVal == 1) {
            $(`#count_${id}`).val(currentVal);
        }
        else {
            currentVal -= 1;
            $(`#count_${id}`).val(currentVal);
        }
        changeSubprice(id, currentVal, price);
    }

    function checkValue(selfi) {
        if (selfi.value > 5) {
            selfi.value = 5;
        }
        else if (selfi.value < 1) {
            selfi.value = 1;
        }
    }

    function changeSubprice(id, amount, price){
        $(`#subprice_${id}`).text(amount * price);
    }
</script>