<div class="container">
    <br><br>
    <h2>Pedidos/Ordenes</h2>
    <a href="/admin" class="btn btn-info" role="button">
        <i class="fa fa-home" aria-hidden="true"></i> Admin
    </a>
</div>
<div class="container">
    <div class="horizontal-scroll">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Orden</th>
                    <th>#</th>
                    <th>Cliente</th>
                    <th>Fecha/Hora</th>
                    <th>Aprobado</th>
                    <th>Entregado</th>
                    <th>Tipo</th>
                    <th>Método Pago</th>
                </tr>
            </thead>
            <tbody>
                {{#each orders }}
                    <tr>
                        <td>
                            <a href="/view-order/{{this.id}}" class="btn btn-info" role="button">
                                <i class="fa fa-info" aria-hidden="true"></i> Ver
                            </a>
                        </td>
                        <td>{{ this.id }}</td>
                        <td>{{ this.customer }}</td>
                        <td>{{ this.createdDate }}</td>
                        <td>
                            {{#if this.approved}}
                                <a class="btn btn-success" role="button">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </a>
                            {{else}}
                                <a class="btn btn-danger" role="button">
                                    <i class="fa fa-exclamation " aria-hidden="true"></i>
                                </a>
                            {{/if}}
                        </td>
                        <td>
                            {{#if this.delivered}}
                                <a class="btn btn-success" role="button">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </a>
                            {{else}}
                                <a class="btn btn-danger" role="button">
                                    <i class="fa fa-exclamation " aria-hidden="true"></i>
                                </a>
                            {{/if}}
                        </td>
                        <td>{{ this.type }}</td>
                        <td>{{ this.paymentMethod }}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<br><br>
<script>
    $(document).ready(function() {
        $('#example').DataTable( {
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
            }
        } );
    } );
</script>
