<div class="container">
    <h1>Pedidos/Ordenes</h1><br>
</div>
<br>
<div class="container">
    <a href="/admin" class="btn btn-info" role="button">
        <i class="fa fa-home" aria-hidden="true"></i> Admin
    </a>
</div>
<br>
<div class="container">
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Metodo Pago</th>
                <th>Aprobado</th>
                <th>Entregado</th>
                <th>Ver Orden</th>
            </tr>
        </thead>
        <tbody>
            {{#each orders }}
                <tr>
                    <td>{{ this.customer }}</td>
                    <td>{{ this.createdDate }}</td>
                    <td>{{ this.type }}</td>
                    <td>{{ this.paymentMethod }}</td>
                    <td>
                        {{#if this.approved}}
                            <a class="btn btn-success" role="button">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </a>
                        {{else}}
                            <a class="btn btn-danger" role="button">
                                <i class="fa fa-exclamation " aria-hidden="true"></i>
                            </a>
                        {{/if}}
                    </td>
                    <td>
                        {{#if this.delivered}}
                            <a class="btn btn-success" role="button">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </a>
                        {{else}}
                            <a class="btn btn-danger" role="button">
                                <i class="fa fa-exclamation " aria-hidden="true"></i>
                            </a>
                        {{/if}}
                    </td>
                    <td>
                        <a href="/view-order/{{this.id}}" class="btn btn-info" role="button">
                            <i class="fa fa-info" aria-hidden="true"></i> Detalle
                        </a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        $('#example').DataTable( {
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
            }
        } );
    } );
</script>
