<br>

{{#if message}}
  <div class="container">
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
  </div>
{{/if}}

<div class="container">
    <br><br>
    <h2>Editar Producto</h2>
    {{#if product.image}}
        <img src="{{product.image}}" height="150" width="150"> 
    {{else}}
        <i>Imagen aun no asiganda.</i>
    {{/if}}
    <form action="/update-product" name="submitproduct" method="POST" enctype="multipart/form-data">
        <input type="number" hidden="true" value="{{product.id}}" name="id">
        <div class="form-group">
            <label for="name"><strong>Nombre</strong></label>
            <input type="text" class="form-control" id="name" name="name" value="{{product.name}}">

            <div class="alert alert-danger" role="alert" style="display: none;" id="enterName">
                Ingrese el nombre.
            </div>
        </div>

        <div class="form-group">
            <label for="name">Descripción</label>
            <input type="text" class="form-control" id="description" name="description" value="{{product.description}}">

            <div class="alert alert-danger" role="alert" style="display: none;" id="enterDescription">
                Ingrese la descripción.
            </div>
        </div>

        <div class="form-group">
            <label for="category"><strong>Categoría</strong></label>
            <div id="categoryDiv">
                <select class="form-control" id="category" name="categoryId">
                    <option value=""><i></i></option>
                    {{#each categories }}
                        <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <br>
            <input type="checkbox" id="hasCategory" name="hasCategory"> Nueva Categoría
            <br>
            <div id="newCategoryDiv" style="display: none;">
                <input type="text" class="form-control" id="newCategory" name="newCategory" placeholder="Nueva Categoría">
            </div>
            <div class="alert alert-danger" role="alert" style="display: none;" id="enterCategory">
                Ingrese la categoría.
            </div>
        </div>
        <hr>

        <div class="form-group">
            <label for="supplier"><strong>Proveedor</strong></label>

            <div id="supplierDiv">
                <select class="form-control" id="supplier" name="supplierId">
                    <option value=""><i></i></option>
                    {{#each suppliers }}
                        <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>

            <br>
            <input type="checkbox" id="hasSupplier" name="hasSupplier"> Nuevo Proveedor
            <br>
            <div id="newSupplierDiv" style="display: none;">
                <input type="text" class="form-control" id="newSupplier" name="newSupplier" placeholder="Nuevo Proveedor">
            </div>
            <div class="alert alert-danger" role="alert" style="display: none;" id="enterSupplier">
                Ingrese el proveedor.
            </div>
        </div>
        <hr>

        <div class="form-group">
            <label for="brand"><strong>Marca</strong></label>

            <div id="brandDiv">
                <select class="form-control" id="brand" name="brandId">
                    <option value=""><i></i></option>
                    {{#each brands }}
                        <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>

            <br>
            <input type="checkbox" id="hasBrand" name="hasBrand"> Nueva Marca
            <br>
            <div id="newBrandDiv" style="display: none;">
                <input type="text" class="form-control" id="newBrand" name="newBrand" placeholder="Nueva Marca">
            </div>
            <div class="alert alert-danger" role="alert" style="display: none;" id="enterBrand">
                Ingrese la marca.
            </div>
        </div>
        <hr>

        <div class="form-group">
            <label for="costo" class="col-form-label"><strong>Costo</strong></label>
            <div>
                {{#if product.price}}
                    <input class="form-control" type="number" id="cost" name="cost" value="{{product.cost}}">
                {{else}}
                    <input class="form-control" type="number" id="cost" name="cost" value="0">
                {{/if}}
            </div>

            <div class="alert alert-danger" role="alert" style="display: none;" id="enterCost">
                Ingrese el costo.
            </div>
        </div>

        <div class="form-group">
            <label for="price" class="col-form-label"><strong>Precio</strong></label>
            <div>
                {{#if product.price}}
                    <input class="form-control" type="number" id="price" name="price" value="{{product.price}}">
                {{else}}
                    <input class="form-control" type="number" id="price" name="price" value="0">
                {{/if}}
            </div>

            <div class="alert alert-danger" role="alert" style="display: none;" id="enterPrice">
                Ingrese el precio.
            </div>
        </div>

        <div class="form-group">
            <label for="image">Imagen</label>
            <input type="file"
                id="productImage" name="productImage"
                accept="image/png, image/jpeg">
        </div>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="available" name="available">
            <label class="form-check-label" for="available">Disponible</label>
        </div>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="showSite" name="showSite">
            <label class="form-check-label" for="showSite">Mostrar en el sitio</label>
        </div>

        <div class="text-right">
            <a onclick="validate();" type="button" class="btn btn-success">Actualizar</a>
        </div>
    </form>
    <br><br><br>
</div>

<script>
    $('input').keyup(function(e){
        if(e.keyCode == 13){
            validate();
        }
    });
    $('select').keyup(function(e){
        if(e.keyCode == 13){
            validate();
        }
    });

    $( "#hasCategory" ).change(function() {
        $('#newCategoryDiv').toggle();
        $('#categoryDiv').toggle();
    });

    $( "#hasSupplier" ).change(function() {
        $('#newSupplierDiv').toggle();
        $('#supplierDiv').toggle();
    });

    $( "#hasBrand" ).change(function() {
        $('#newBrandDiv').toggle();
        $('#brandDiv').toggle();
    });
    
    $(function() {
        $("#category").val({{product.categoryId}});
        $("#supplier").val({{product.supplierId}});
        $("#brand").val({{product.brandId}});
        
        if('{{product.available}}')
            $('#available').prop('checked', true);

        if('{{product.showSite}}')
            $('#showSite').prop('checked', true);
    });

    function validate() {
        const delay = 6000;//6seconds
        const addressLength = 10;

        let params = {};
        params.name = $('#name').val();
        params.description = $('#description').val();
        params.category = $('#category').val();
        params.supplier = $('#supplier').val();
        params.cost = $('#cost').val();
        params.price = $('#price').val();

        let hasError = false;

        if ($('#hasCategory').prop('checked')) {
            params.category = $('#newCategory').val();
            if (!params.category) {
                hasError = true;
                $('#enterCategory').fadeIn().delay(delay).fadeOut();
            }
        }

        if ($('#hasSupplier').prop('checked')) {
            params.supplier = $('#newSupplier').val();
            if (!params.supplier) {
                hasError = true;
                $('#enterSupplier').fadeIn().delay(delay).fadeOut();
            }
        }

        if ($('#hasBrand').prop('checked')) {
            params.brand = $('#newBrand').val();
            if (!params.brand) {
                hasError = true;
                $('#enterBrand').fadeIn().delay(delay).fadeOut();
            }
        }

        if (!params.name) {
            hasError = true;
            $('#enterName').fadeIn().delay(delay).fadeOut();
        }
        if (!params.cost) {
            hasError = true;
            $('#enterCost').fadeIn().delay(delay).fadeOut();
        }
        if (!params.price) {
            hasError = true;
            $('#enterPrice').fadeIn().delay(delay).fadeOut();
        }

        if (!hasError) {
            $("form[name='submitproduct']").submit();
        }
    }
</script>