<br>

{{#if message}}
  <div class="container">
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
  </div>
{{/if}}

<div class="container">
    <h1>Editar Proveedor</h1>

    <form action="/update-supplier" name="updatesupplier" method="POST">
        <input type="number" hidden="true" value="{{supplier.id}}" name="id">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" name="name" value="{{supplier.name}}">

            <div class="alert alert-danger" role="alert" style="display: none;" id="enterName">
                Ingrese el nombre.
            </div>
        </div>

        <div class="form-group">
            <label for="name">Descripcion</label>
            <input type="text" class="form-control" id="description" name="description" value="{{supplier.description}}">

            <div class="alert alert-danger" role="alert" style="display: none;" id="enterDescription">
                Ingrese la descripcion.
            </div>
        </div>

        <div class="form-group">
            <label for="phone" class="col-2 col-form-label">Telefono</label>
            <div class="col-10">
                <input class="form-control" type="number" id="phone" name="phone" value="{{supplier.phone}}">
            </div>

            <div class="alert alert-danger" role="alert" style="display: none;" id="enterPhone">
                Ingrese el numero de telefono.
            </div>
        </div>

        <div class="form-group">
            <label for="cellphone" class="col-2 col-form-label">Celular</label>
            <div class="col-10">
                <input class="form-control" type="number" id="cellphone" name="cellphone" value="{{supplier.cellphone}}">
            </div>
        </div>

        <div class="form-group">
            <label for="address" class="col-2 col-form-label">Direccion</label>
            <div class="col-10">
                <input class="form-control" type="text" id="address" name="address" value="{{supplier.address}}">
            </div>
        </div>

        <div class="text-right">
            <a onclick="validate();" type="button" class="btn btn-success">Actualizar</a>
        </div>
    </form>
</div>

<script>
    function validate() {
        const delay = 6000;//6seconds
        const addressLength = 10;

        let params = {};
        params.name = $('#name').val();
        params.description = $('#description').val();
        params.phone = $('#phone').val();
        params.cellphone = $('#cellphone').val();
        params.address = $('#address').val();

        let hasError = false;
        if (!params.name) {
            hasError = true;
            $('#enterName').fadeIn().delay(delay).fadeOut();
        }
        if (!params.description) {
            hasError = true;
            $('#enterDescription').fadeIn().delay(delay).fadeOut();
        }
        if (!params.phone) {
            hasError = true;
            $('#enterPhone').fadeIn().delay(delay).fadeOut();
        }

        if (!hasError) {
            $("form[name='updatesupplier']").submit();
        }
    }
</script>