<div class="container">
    <br><br>
    <h2>Proveedores</h2>
    <a href="/create-supplier" class="btn btn-default" role="button" style="border: 1px solid grey">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> Crear Proveedor
    </a>

    <a href="/admin" class="btn btn-info" role="button">
        <i class="fa fa-home" aria-hidden="true"></i> Admin
    </a>
</div>
<br>

{{#if success}}
  <div class="container">
    <div class="alert alert-success" role="alert">
        Proveedor Creado
    </div>
  </div>
{{/if}}

{{#if updated}}
  <div class="container">
    <div class="alert alert-success" role="alert">
        Proveedor Actualizado
    </div>
  </div>
{{/if}}

<div class="container">
    <div class="horizontal-scroll">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Editar</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Teléfono</th>
                    <th>Celular</th>
                    <th>Dirección</th>
                </tr>
            </thead>
            <tbody>
                {{#each suppliers }}
                    <tr>
                        <td>
                            <a href="/edit-supplier/{{this.id}}" class="btn btn-info" role="button">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td>{{ this.name }}</td>
                        <td>{{ this.description }}</td>
                        <td>{{ this.phone }}</td>
                        <td>{{ this.cellphone }}</td>
                        <td>{{ this.address }}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<br><br>

<script>
    $(document).ready(function() {
        $('#example').DataTable( {
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
            }
        } );
    } );
</script>
